#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
2+3

5

In [6]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [7]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Alvaro Riquelme